sudo: required
language: go
go:
- tip
before_install:
- curl -sf https://up.apex.sh/install | sudo sh
- sudo up upgrade
script:
  - up
# deploy:
#     - provider: script
#       skip_cleanup: true
#       script: up deploy # https://beta.goserverless.sg/
#       on:
#         branch: master
#     - provider: script
#       skip_cleanup: true
#       script: up deploy production # https://goserverless.sg/
#       on:
#         tags: true
