<!DOCTYPE html>
<html lang=en>
<head>
<meta charset="utf-8">
<script src="https://unpkg.com/vue"></script>
</head>
<body>
<div id="app">
<form v-on:submit.prevent="submitForm">
<input v-model="message">
<p>Message is: ${ message }</p>
{{ .csrfField }}
<button type="submit">Send</button>
</form>
</div>

<script>
var app = new Vue({
	delimiters: ['${', '}'],
	el: '#app',
	data: {
		message: 'Hello Vue!'
	},
	methods: {
	submitForm: function (x) {
		console.log('submitting message...', x);
		fetch('/', { method: 'POST',
			body: {
			message: this.message
		}}).then(function () {
			alert('Your form was submitted!');
		}, function () {
			alert('Form submission failed');
		});
	}
	}
})
</script>


<p>Country:  {{ .EmojiCountry }}</p>
<p>Stage:  {{ .Stage }}</p>
</body>
</html>
