<!DOCTYPE html>
<html lang=en>
<head>
<meta charset="utf-8">
<script src="https://unpkg.com/vue"></script>
<style>
main {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: fit-content(40%);
}
</style>
</head>
<body>
<main>
<p>Country:  {{ .EmojiCountry }}</p>
<div id="app">
<form id="myForm" v-on:submit.prevent="submitForm">
<input required type=text name=given-name placeholder="First" autofocus>
<input required type=text name=family-name placeholder="Last">
<input required type=email name=email placeholder="email@example.com">
<input required type=text name=organization placeholder="Organisation">
<input type=text name=street-address placeholder="Street">
<input type=text name=address-level2 placeholder="City">
<input type=text name=country-name placeholder="Country">
<input type=text name=postal-code placeholder="Postal code">
<input type=tel name=tel placeholder="Telephone">
<input type=url name=url placeholder="https://example.com">
<textarea rows=5 name="notes" placeholder="Prefer a callback? Please let us know a time good for you.  Please put any relevant details about the kiosk deployment here."></textarea>
{{ .csrfField }}
<button id="button" type="submit">Send</button>
</form>
</div>
</main>

<script>
var app = new Vue({
	delimiters: ['${', '}'],
	el: '#app',
	methods: {
	submitForm: function (x) {
		fetch('/', { method: 'POST',
			headers: { "X-CSRF-Token": x.target.elements["gorilla.csrf.Token"].value },
			credentials: 'same-origin',
			body: new FormData(x.target) })
		.then(() => {
			var button = document.getElementById("button")
			button.disabled = true
			button.innerText = 'Sent!'
		})
	}
	}
})
</script>

</body>
</html>
